<label id="example-radio-group-label">Pick your favorite network:</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedNetwork">
  <mat-radio-button class="example-radio-button" *ngFor="let network of networks" [value]="network" >
    {{network}}
  </mat-radio-button>
</mat-radio-group>
<div *ngIf= "networks.includes(selectedNetwork)">Your favorite network is: {{selectedNetwork}}</div>
<div *ngIf= "!networks.includes(selectedNetwork)">Your favorite network {{selectedNetwork}} is not available</div>
